body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.block {
  width: 350px;
  height: 75px;
  background-color: white;
  color: black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  user-select: none;
  border: 1px solid #ccc;
}

.block:hover {
  background-color: #f0f0f0;
}

#message {
  margin-top: 10px;
  font-weight: bold;
}

.block.dragging {
  opacity: 0.5;
  cursor: grabbing;
}